.menuResponsivo {
  display: none;
}


@media (max-width: 640px) {
  .menuResponsivo {
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 70px;
    left: 0;
    background-color: rgb(255, 255, 255);
    border: 1px solid #ccc;
    display: none;
    z-index: 1;
  }
  
}
